header {
  border-bottom: 1px solid #efefef;
  padding: 10px 0px;
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: white;
}
nav {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.links {
  display: flex;
  flex-direction: row;
  justify-content: center;

  gap: 10px;
}
.links > li {
  border: none;
  padding: 14px 16px;
  border-radius: 20px;
  font-weight: bold;
  background-color: transparent;
}
.links > li:hover {
  background-color: #efefef;
}
.pink {
  color: rgb(255, 83, 83);
}
