@font-face {
  font-family: "Paperlogy-8ExtraBold";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-8ExtraBold.woff2")
    format("woff2");
  font-weight: 800;
  font-style: normal;
}

.second {
  padding: 100px 0;
}
.second > .contents {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.second > .contents > h4 {
  text-align: center;
  color: #757575;
  font-size: 32px;
  line-height: 1.3;
  font-family: "Paperlogy-8ExtraBold";
}
.motto {
  margin-top: 50px;
}
.motto > span {
  color: black;
}
